langgraph
langchain
langchain-google-genai
langsmith
requests
pydantic
python-dotenv
uvicorn
langchain-tavily
fastapi[standard]
langgraph-checkpoint-postgres 
psycopg[binary] 
psycopg-pool
sqlalchemy 
psycopg2-binary